<!--
CMP4配置文件

所有配置参数说明请见：http://bbs.cenfun.com/thread-10891-1-1.html

更多详细参数说明，请参见CMP交流论坛http://bbs.cenfun.com/
-->
<cmp 
	name = "微糗事平台" 
	link = "http://weiqiushi.com" 
	description = "『微糗事平台』 - http://weiqiushi.com"
	skins = "skins/default.zip,skins/mini/blueplayer.zip"
	plugins = ""
	backgrounds = ""
	lists = ""
	
	src_handler = "" 
	lrc_handler = ""

	skin_id = ""

	play_id = ""
	auto_play = ""
	list_delete = ""
	
	sound_sample = "true"
	mixer_displace = "true"
	mixer_filter = "true"
	
	counter = ""
/>