@charset "utf-8";
/*用户页面个性化定制 基础构架*/
header,nav,article,footer{display:block}
footer{clear:both}
img{border:0px;text-align:center;}

/*
全局框架使用
	body页面背景图或背景色
	header_bg顶部背景图
	footer_bg底部背景图
*/
#wrap{width:900px; margin:0px auto}

/*可动态改变替换的背景图像颜色*/
body {color: #999999; font-family:'Microsoft Yahei','Arail';font-size: 12px;background: none repeat scroll 0 0 #EFF0EB;} /*页面背景色*/
#header_bg{width:100%;}  /*顶部背景图*/
#footer_bg{width:100%;}
a:link, a:visited {color: #568D99;text-decoration: none;} /*默认超链接*/
a:hover {color: #568D99;text-decoration: underline;}

/*mini导航设置*/
#user_top{ margin-bottom:10px;background-color:rgba(0,0,0,0.3); height:45px;padding-top:5px;text-align:right;padding-right:10px;}
#user_top a{padding:0px 5px; text-decoration:none; color:#333;line-height:40px;}



#main { height:120px}
#main #title {font-size: 50px; font-weight:bold; color:#FFF}
#main #sign{font-size:14px}


/*  右侧部分 */
.aside{ width:200px; float:right;}
.aside #menu { background-color:#FFF;border-radius:7px;}
.aside #menu .avatar{width:100%;padding:10px 0; }
.aside #menu .avatar img{display:block;width:90%;margin:0 auto;}
.aside #menu a{display:block; padding:5px; margin-left:5px; color:#666}
.aside .title{font-weight:bold; font-size:14px; padding:5px; color:#fff; margin-top:10px; margin-bottom:5px}
.aside .follow img{padding:0px 2px}
.aside .followme {margin:10px; color:#333}
.face{border-radius:7px;}


#article .box .header h1{font-size:24px; margin-bottom:10px; font-weight:bold; text-align:left; font-size:24px}

.readMore,.showAll{display:block; margin-bottom:10px; width:100%; text-align:right; margin:10px 0px; }


.showAll a,.readMore a{ display:block;float:right;text-align:center;height:30px;line-height:30px;width:100px;border:1px solid #999; text-decoration:none;margin-bottom:10px;}
.showAll a:hover{background-color:#CCC; text-decoration:none }
.readMore a:hover{background-color:#ECEDFF; text-decoration:none }
/*feeds player*/
/*feed video player*/

.player{ float:left; margin:0px 15px 15px 0px; position:relative}
.player .area{display:none}
.player .area p{font-size:14px; margin-bottom:5px;}
.player .img{border:1px solid #999;border: 1px solid #999; border-radius:5px; box-shadow:3px 3px 2px #ccc;   }
.playbtn { border:0px;position:absolute;left:50px;top:35px;opacity:0.5;filter:alpha(opacity=50); cursor:pointer}
.playbtn:hover{opacity:100;filter:alpha(opacity=100);}
.clear{ clear:both; display:block}
.feed_content_h{width:100%; display:block; clear:both}

/*xiami*/

.xiami{ display:block;margin:20px 0px; height:100%; clear:both}
.xiami div{width:300px;float:left; margin:10px 0px 0px 10px}
.xiami img{box-shadow: 3px 3px 3px #999; float:left; max-width:150px; max-height:150px}
.xiami embed{margin:10px 0px 10px 10px}

#article .page { width:100%;padding:3px; margin:3px; text-align:right;}
#article .page a { border:1px solid #aaaadd; padding:2px 5px; margin:2px;text-decoration:none;}
#article .page a:hover {border:1px solid #000;color:#000;}
#article .page .current {border:0;}


/*product*/
.product{clear:both; margin-bottom:20px}
.product .img{ max-width:340px; float:left;box-shadow:0 0 5px rgba(128, 128, 160, 0.5);}
.product .right{width:280px; float:left; margin-left:20px}
.product .title{font-size:14px; line-height:1.5em}
.product .price{font-size:24px; color:#C00; font-weight:bold}
.product .line{margin:10px 0px;}
.product a{margin-top:20px;display:block; padding:10px; width:200px; height:20px; text-align:center; background-color:#C0DEED;
			color:#4587A8; font-size:20px; text-decoration:none; border-radius:5px; border:1px solid #4587A8;box-shadow:0 0 5px rgba(128, 128, 160, 0.5);

}
.product a:hover{background-color:#4587A8; color:#FFF}


/*fast comment*/

#article{width:625px;float:left;}
#article .box{ color:#333; width:640px;background: none repeat scroll 0 0 #FFFFFF;border-radius:7px;padding:15px; min-height:100px; box-shadow:2px 2px 1px #333; margin-bottom:20px}
#article .box a,#article .box a:hover,#article .box a:visited{color:#333;}
#article .box .content{width:100%}
#article .box .content img{max-width:640px}
#article .box .content header{ font-size:12px; padding:5px 0px;}
#article .box .footer{ clear:both; text-align:right; line-height:20px;margin:20px 0px;}
#article .box .footer .tag{width:300px; overflow:hidden; text-indent:2em;  text-align:left; float:left; background:url(../ico_favtags.png) no-repeat; background-position:5px;}
#article .box .footer .tag a{ padding-right:5px}
#article .box .footer .menu{float:right;}
#article .box .footer .menu a{ padding-right:5px;}
#article .box .favatitle{margin:10px 0px; font-size:14px;}
#article .box .fava img{padding:0px 2px; max-width:40px}

.content { font-size:14px; line-height:2em}


#article .box .comment textarea {width:100%}
#article .box .comment .submit{ margin:10px 0px; text-align:right}
#article .box .comment .submit footer{margin:0px}
/*快速评论*/
#article .box .rowLine { background: url("../feedmore_line.png") repeat-x scroll 0 0 transparent; height: 1px; margin: 6px 0 15px;width: 100%;}
#article .box .comment {background: none repeat scroll 0 0 #F3F3F3;border-top: 1px dotted #D2D2D2; margin-top: 13px;padding: 15px 20px 10px;position: relative; z-index: 1;}
#article .box .comment {clear: both;overflow: hidden;}
#article .box .comment  textarea {
    border-color: #9B9B9B #CFCFCF #CFCFCF #9B9B9B;border-right: 1px solid #CFCFCF;border-style: solid;border-width: 1px;float: left;font-family: "Microsoft Yahei"; font-size: 13px;
    height: 58px;line-height: 19px;margin-bottom: 8px;padding: 5px;resize: none;width: 450px;}
#article .box .comment.input em.green { color: #6AAE3F; float: right; margin-right: 10px; margin-top: 8px;}
#article .box .comment ul { margin: 0;}
#article .box .comment ul li { background: none repeat scroll 0 0 transparent; clear: both; color: #464646;line-height: 12px; margin: 0;overflow: hidden;padding: 0; position:relative}
#article .box .comment ul li .pic {float: left;margin-left: 0;margin-right: 10px;}
#article .box .comment ul li a {margin-right: 4px;}
#article .box .comment ul li .pic img {height: 20px;width: 20px;}
#article .box .comment ul li p {float: left;line-height: 18px;margin-top: -2px;padding-right: 20px;position: relative;width: 400px;}
#article .box .comment ul li p a.reply {margin-left: 10px;}
#article .box .comment ul li span {color: #999999;margin-left: 16px;}
#article .box .comment ul li quote{ display:block; margin:5px 0px 0px 0px;}
#article .box .comment .commentList .delrep a{position:absolute;  left:460px; background:url(../add/delete.gif) no-repeat; width:16px; height:16px; text-indent:99em; z-index:10 }
#article .box .comment .commentList .delrep a:hover{ background-color:#CCC}

#article .box .comment footer {padding:6px 4px;background-color:#EAEAEA;text-align:right;color:#313031;}
#article .box .comment footer a,#article .box .comment footer a:active {padding:3px 1px;margin:0px 1px; color: #0030ce;text-decoration:none;font-size:12px;}
#article .box .comment footer a:hover{text-decoration:underline;}
#article .box .comment footer .current {padding:1px 2px; color:#000; background-color:#FFF;}


/*plugin*/
.backToTop { display: none; width: 18px; line-height: 1.2; padding: 5px 0; background-color: #000; color: #fff;font-size: 12px;text-align: center;
    position: fixed; _position: absolute; right: 10px; bottom: 200px; _bottom: "auto"; cursor: pointer; opacity: .6; filter: Alpha(opacity=60);
}

/*底部*/
#foorer{ width:100%;height:50px; padding-top:20px; clear:both}
#foorer small{ padding:20px 0px; font-size:12px}
#foorer #vlogo{ width:130px; float:right}
#foorer #vlogo img{ margin-left:5px}
.clear{clear:both}

.clearfix{zoom:1}
.clearfix:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both}
